# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

build/
.idea/
.gradle/
.classpath
.project
.settings/
.idea/
build-eclipse/
/tags
out/

.DS_store
*.iml
*.ipr
*.iws
*.swp
*.log
*.patch
*.diff
*.dat
*.rej
*.orig
geode-pulse/screenshots/
/jpf.properties

# Compiled source #
# ------------------
*.com
*.class
*.dll
*.exe
*.o
*.so
monarch-assembly/src/bin

# Test #
# ---------------------
dunit/
diskDir/

# Logs and databases #
# ---------------------
*.log

# Package Files #
# ---------------------
*.jar
*.war
*.ear

# eclipse stuff #
# ---------------------
.classpath
.project
.settings/

#intlj stuff
# ---------------------
*.iml
.idea/

## ambari stuff
target/
.gradle/
*.apa


